aiokatcp
async-timeout             # via aiokatcp
boto==2.48.0
decorator                 # via aiokatcp
hiredis
katversion
msgpack                   # via katsdptelstate
netifaces
numpy
pygelf
redis                     # via katsdptelstate
katsdpservices @ git+https://github.com/ska-sa/katsdpservices
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
