attrs                           # via pytest
certifi                         # via requests
chardet                         # via requests
cityhash                        # via katdal
coverage
dask                            # via katdal
ephem                           # via pyephem
future                          # via katdal, katpoint
h5py                            # via katdal
idna                            # via requests
importlib-metadata              # via pytest, pluggy
katpoint==0.9                   # via katdal
llvmlite                        # via numba
more-itertools                  # via pytest
numba                           # via katdal
packaging                       # via pytest
pluggy                          # via pytest
py                              # via pytest
pyephem                         # via katpoint
pyjwt                           # via katdal
pytest
pytest-asyncio==0.14.0
pytest-cov
pytest-mock==3.2.0
requests                        # via katdal
toolz                           # via dask
urllib3                         # via requests
wcwidth                         # via pytest
zipp                            # via importlib-metadata

katdal @ git+https://github.com/ska-sa/katdal@s3-utils
