-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt
-c requirements.txt

coverage
pytest
pytest-asyncio==0.14.0
pytest-cov
pytest-mock==3.2.0

katpoint @ git+https://github.com/ska-sa/katpoint     # via katdal
katdal @ git+https://github.com/ska-sa/katdal
