attrs                           # via pytest
certifi                         # via requests
chardet                         # via requests
coverage
idna                            # via requests
importlib-metadata              # via pytest, pluggy
more-itertools                  # via pytest
packaging                       # via pytest
pluggy                          # via pytest
py                              # via pytest
pytest
pytest-asyncio==0.14.0
pytest-cov
pytest-mock==3.2.0
requests
urllib3                         # via requests
wcwidth                         # via pytest
zipp                            # via importlib-metadata
